
/*Portada*/
* {
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.article-container-cover{
    width: 100%;
    height: 500px;
    position: relative;
    margin-top: 80px;
    background-image: url(../img/mifoto.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.article-container-cover:before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.container-info-cover{
    max-width: 800px;
    height: 500px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.container-info-cover h1{
    font-size: 60px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 20px;
}

.container-info-cover p{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}

/** FORMULARIO DE CONTACTO**/

aside {
    flex: 34px;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 1cm;
    border: 4px solid rgb(72, 170, 64);
    background-color: rgb(252, 252, 190);
}

.formulario {
    scroll-snap-align: center;
    scroll-snap-stop: always;
}
.formulario legend {
    text-align: center;
    font-size: 1.2rem;
    color: var(--primario);
    margin-bottom: 2rem;
    display: block;
    text-transform: uppercase;
    font-weight: 700;
}
@media (min-width:768px) {
    .formulario {
        max-width: 800px;
        margin: 0 auto;
    }
}
.contenedor-campos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.campo {
    margin-bottom: 1rem;
    width: 100%;
}
@media (min-width:480px) {
    .campo {
        display: flex;
        align-items: center;
    }
}
@media (min-width: 768px) {
    .campo{
        flex: 0 0 calc(50% - .5rem)
    }
}
.campo label {
    color: var(--blanco);
    font-weight: 700;
    margin-bottom: .5rem;
    display: block;
}
@media (min-width:480px) {
    .campo label {
        flex: 0 0 90px;
    }
}
.campo input[type="text"],
.campo input[type="tel"],
.campo input[type="mail"],
.campo textarea {
    width: 100%;
    padding: .5rem;
    border: none;
    border-radius: .5rem;
}
@media (min-width: 768px) {
    :is(.campo) :is( 
        input[type="text"], 
        input[type="text"],  
        input[type="tel"],  
        input[type="mail"] , 
        textarea ) {
        flex: 1;
    }
}

.w-100{
    flex: 0 0 100%;
}
.campo textarea {
    height: 4rem;
}

.enviar {
    display: flex;
    justify-content: flex-start;
}

/*Contenedor - contenido del articulo*/

.container-content{
    width: 1200px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

article{
    width: 100%;
    padding: 20px;
    padding-bottom: 40px;
    box-shadow: -10px 0 20px -30px black;
    border-radius: 6px;
    position: relative;
    overflow: hidden;    
    background: #fff;
}

article:before{
    content: '';
    width: 100%;
    height: 6px;
    position: absolute;
    top: 0;
    left: 0;
    background: #46a2fd;
}

article h1{
    margin-top: 20px;
    font-weight: 500;
    font-size: 40px;
}

article p{
    margin-top: 20px;
    font-size: 18px;
    color: #3c3c3c;
}

article img{
    width: 100%;
    margin-top: 20px;
}

/**	ANIMACIONES **/

.animacion {
	animation-name: animar;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-direction: inherit;
}

@keyframes animar {
	from {
		transform: translateX(-3%);
	}
	to{
		transform: translateX(100%);
	}
}

.animacion img {
	height: 100px;
}

/*Aside de los articulos de relacionados*/

.container-aside aside{
  width: 320px;
  border-right: 6px;
  box-shadow: 0 0 20px -20px black;
  border-radius: 6px;
  overflow: hidden;
  margin-left: 40px;
  margin-bottom: 40px;
  padding-bottom: 20px;
  border: 4px solid #46a2fd;
  background: #fff;
}

.container-aside aside img{
    width: 100%;
}

.container-aside aside h2,
.container-aside aside p{
    margin-top: 20px;
    padding: 0px 20px;
}

.container-aside aside button{
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px 50px;
    font-size: 16px;
    background: #46a2fd;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 6px;
}

.container-aside aside button:hover{
    opacity: 0.9;
}

@media screen and (max-width: 1220px){

    .container-content{
        max-width: 1000px;
        padding: 0 20px;
    }


}

@media screen and (max-width: 1020px){

    .container-content{
        width: 100%;
        flex-direction: column;
    }

    article{
        box-shadow: 0 0 0 0;
    }

    .container-aside{
        display: flex;
        justify-content: center;
    }

    .container-aside aside{
        max-width: 300px;
        margin: 10px;
    }

}

@media screen and (max-width: 800px){

    .container-aside{
        flex-wrap: wrap;
    }

    #icon-menu{
        right: 20px;
    }

}

/** BARRA DE PROGRESO **/
.bg-blue{
    background-color: rgb(96, 181, 96);
}

.margin-t-b{
    margin: 2rem;
}

/*  BARRA DE PROGRESO */
.bg-naranja{
    background-color: #f87c14;
}
.margin-t-b{
    margin: 2rem;
}

/** GALIERIA **/

#galeria .col-lg-4{
    margin: 0;
    padding: 25px;
}

#galeria img{
    width:100%;
    height: 300px;
}

#galeria img:hover{
    border: 1px solid rgb(0, 0, 0);
    transform: scale(1.5);
}

#carouselExampleControls img {
    height: 100%;
}

/*BOTON DE REDES*/

#btn-mas{
    display: none;
}
.botones {
    position: fixed; 
    bottom: 20px;
    right: 20px;
}
.redes a, .btn-mas label{
    display: block;         
    text-decoration: none;
    background: #2494d5f6;
    color: #fff;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border-radius: 50px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.4);
    transition: all 500ms ease;                         
}
.redes a:hover{             
    background: #fff;
    color: #2494d5f6;
}
.redes a{
    margin-bottom: -15px;
    opacity: 0;
    visibility: hidden;
}
#btn-mas:checked~ .redes a{ 
    margin-bottom: 10px;
    opacity: 1;
    visibility: visible;
}
.btn-mas label{             
    cursor: pointer;
    background: #2494d5f6;
    font-size: 23px;
}
#btn-mas:checked ~ .btn-mas label{     
    transform: rotate(360deg);
    font-size: 25px;
}

